<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Examen 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.component.html">
  </head>
  <body>
    <div class="contenedor">
    <div class="Encabezado"> <h1>Encabezado</h1></div>
    <div class="Titulo"><h1>Titulo</h1></div>
    <div class="contenido">
      <div class="menu"><h1>Menu</h1></div>
      <div class="contenidoxd"><h1>Contenido</h1>
        <article class="articulo"><h1>Articulo</h1></article>
        <h1>Marterial 1</h1>
      </div>
    </div>
    <div class="Pie"><h1>Pie Pagina</h1></div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>